<div class="row deslocamento">
  <div class="col-md-12 ">
      <h2 class="titulo">Deslocamento</h2>
      <div class="row">
          <div class="col-md-3">
              <div class="label-deslocamento">DESLOCAMENTO</div>
          </div>
          <div class="form-group col-md-2">
              <input type="text" class="form-control" name="deslocBasico" placeholder="Deslocamento Básico">
          </div>
          <div class="form-group col-md-2">
              <input type="text" class="form-control" name="deslocComArmadura" placeholder="Com Armadura">
          </div>
          <div class="form-group col-md-1">
              <input type="text" class="form-control" name="voo" placeholder="Vôo">
          </div>
          <div class="form-group col-md-2">
              <input type="text" class="form-control" name="manobrabilidade" placeholder="Manobrabilidade">
          </div>
          <div class="form-group col-md-1">
              <input type="text" class="form-control" name="nado" placeholder="Nado">
          </div>
      </div>
  </div>
</div>
