<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/'>
    <img src="/assets/img/logod20.png" width="30" height="30" class="d-inline-block align-top" alt="">
    RPG Smart Sheets
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/fichas'>Fichas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal" href="#myModal">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- Login Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <ul  class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
            [class.active]="abaModal === 'login'"
            (click)=switchAba()
          href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [class.active]="abaModal === 'cadastro'"
            (click)=switchAba()
          href="#">Cadastro</a>
        </li>
      </ul>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control modal-input-font" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="">Senha</label>
            <input type="password" class="form-control modal-input-font" id="exampleInputPassword1" placeholder="Senha">
          </div>
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
