<div class="row">
  <div class="col-md-6" style="margin:auto">

    <h2 class="titulo">Armas</h2>

    <table class="table table-bordered border">
        <thead class="thead-inverse">
            <tr>
                <th scope="col" colspan="2">Arma</th>
                <th scope="col">Bônus de Ataque</th>
                <th scope="col">Crítico</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td colspan="2">{{ arma.nome }}</td>
                <td class="number">{{ arma.bonus }}</td>
                <td class="number">{{ arma.critico }}</td>
            </tr>
        </tbody>
    </table>
  <table class="table table-bordered border">
      <thead class="thead-inverse">
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Alcance</th>
            <th scope="col">Munição</th>
            <th scope="col">Dano</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ arma.tipo }}</td>
        <td class="number">{{ arma.alcance }}</td>
        <td>{{ arma.municao }}</td>
        <td class="number">{{ arma.dano }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

