.btn {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

hr {
  background-color: #343a40;
  height: 2px;
}


input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
