<div class="row">
    <div class="col-md-6" style="margin:auto">
        <h2 class="titulo">Equipamentos</h2>
        <table class="table table-bordered border">
            <thead class="thead-inverse">
                <tr>
                    <th scope="col" colspan="3">Lista de Equipamentos</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td colspan="2">Item</td>
                    <td>Peso</td>
                </tr>
                <tr *ngFor="let equip of equipamentos">
                    <td colspan="2">{{ equip.nome }}</td>
                    <td class="number">{{ equip.peso }}Kg</td>
                </tr>
            </tbody>
        </table>
        <hr>
  <div class="row addEquip">
    <div class="col-md-6">
        <label for="nomeEquipamento">Nome</label>
        <input class="form-control" id="equipamentoNome" [(ngModel)]='equipamento.nome'>
    </div>
    <div class="col-md-6">
      <label for="pesoEquipamento">Peso</label>
      <input  class="form-control number" id="equipamentoPeso" [(ngModel)]='equipamento.peso'>
    </div>
        <button class="btn btn-primary" (click)="addEquipamento(equipamento)">Adicionar Equipamento</button>
  </div>
</div>

