<div class="row">
    <div class="col-md">
      <div class="label-attr">CON</div>
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="valCon">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="modAtrCon">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="valTempCon">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="modTempCon">
    </div>
</div>
