<div class="row">
  <div class="col-md">
    <div class="label-attr">CAR</div>
  </div>
  <div class="form-group col-md">
    <input type="text" class="form-control" name="valCar">
  </div>
  <div class="form-group col-md">
    <input type="text" class="form-control" name="modAtrCar">
  </div>
  <div class="form-group col-md">
    <input type="text" class="form-control" name="valTempCar">
  </div>
  <div class="form-group col-md">
    <input type="text" class="form-control" name="modTempCar">
  </div>
</div>
