.font-fichas {
  color: #FFFFFF;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.input-busca {
  margin: 0 auto;
}

.fonte-tamanho {
  font-size: 125%;
}

.submit {
  margin-top: 1em;
}

.btn-criar {
  margin-bottom: 2em;
}

.outrosAtributos {
  margin-top: 2em;
  border: 1px solid #343a40;
  border-radius: 25px;
  margin-left:2em;
  margin-right:2em;
}

.card {
  margin-bottom: 2em;
}
