.font-fichas {
  color: #FFFFFF;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.input-busca {
  margin: 0 auto;
}

.fonte-tamanho {
  font-size: 125%;
}

.submit {
  margin-top: 1em;
}
