<app-header></app-header>
<div class="bg-screen">
  <div class="container">
    <div class="row apresentacao">
      <div class="col-md-12 text-center">

        <h1 class="font-title">RPG Smart Sheets</h1>
        <h2 class="font-apresentacao">Uma maneira prática de jogar RPG</h2>
        <p class="font-p"> Usando o RPG Smart Sheets, seu jogo fica muito mais dinâmico.<br>
          Procure os atributos de PCs ou PMs com um simples click.
        </p>
        <br>
        <hr class="style18">
      </div>
      <app-cards></app-cards>
    </div>
  </div>
</div>
<app-footer></app-footer>

