<div class="row">
    <div class="col-md">
      <div class="label-attr">DES</div>
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="valDes">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="modAtrDes">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="valTempDes">
    </div>
    <div class="form-group col-md">
      <input type="text" class="form-control" name="modTempDes">
    </div>
</div>

