<div class="row">
    <div class="label-attr">INT</div>
    <div class="form-group col-md-1">
      <input type="text" class="form-control" name="valInt">
    </div>
    <div class="form-group col-md-1">
      <input type="text" class="form-control" name="modAtrInt">
    </div>
    <div class="form-group col-md-1">
      <input type="text" class="form-control" name="valTempInt">
    </div>
    <div class="form-group col-md-1">
      <input type="text" class="form-control" name="modTempInt">
    </div>
</div>

