<div class="row">
    <div class="col-md">
        <div class="label-attr">FOR</div>
    </div>
    <div class="form-group col-md">
        <input type="text" class="form-control" name="valFor">
    </div>
    <div class="form-group col-md">
        <input type="text" class="form-control" name="modAtrFor">
    </div>
    <div class="form-group col-md">
        <input type="text" class="form-control" name="valTempFor">
    </div>
    <div class="form-group col-md">
        <input type="text" class="form-control" name="modTempFor">
    </div>
</div>



