<div class="container">
  <div class="row">
    <div class="col-md text-center titulo font-fichas">
      <h1>Ficha Pathfinder</h1>
    </div>
  </div>
</div>
<div class="container">
    <div class="col-md-6 input-busca text-center font-fichas">
        <h3>Busque o atributo!</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Busque por...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Vai!</button>
          </span>
        </div>
    </div>
</div>

<div class="container">
  <br>
  <br>
  <div class="card text-center">
      <br>
      <h2 class="text-center">Atributos Principais</h2>
      <br>
      <form class="fonte-tamanho">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="pcName">Nome do Personagem</label>
            <input type="text" class="form-control" name="pcName">
          </div>
          <div class="form-group col-md-1">
            <label for="tendency">Tendência</label>
            <input type="text" class="form-control" name="pcTendency">
          </div>
          <div class="form-group col-md-2">
            <label for="player">Jogador</label>
            <input type="text" class="form-control" name="player">
          </div>
          <div class="form-group col-md-1">
              <label for="lvl">Nível</label>
              <select class="form-control" name="lvl" >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
          </div>
          <div class="form-group col-md-2">
            <label for="god">Divindade</label>
            <input type="text" class="form-control" name="god">
          </div>
          <div class="form-group col-md-3">
            <label for="birthPlace">Terra Natal</label>
            <input type="text" class="form-control" name="birthPlace">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="race">Raça</label>
            <input type="text" class="form-control" name="race">
          </div>
          <div class="form-group col-md-2">
            <label for="size">Tamanho</label>
            <input type="text" class="form-control" name="size">
          </div>
          <div class="form-group col-md-1">
            <label for="gender">Sexo</label>
            <select class="form-control" name="gender" >
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="age">Idade</label>
            <input type="int" class="form-control" name="age">
          </div>
          <div class="form-group col-md-1">
            <label for="altura">Altura</label>
            <input type="int" class="form-control" name="altura">
          </div>
          <div class="form-group col-md-1">
            <label for="peso">Peso</label>
            <input type="int" class="form-control" name="peso">
          </div>
          <div class="form-group col-md-2">
            <label for="cabelo">Idade</label>
            <input type="text" class="form-control" name="cabelo">
          </div>
          <div class="form-group col-md-2">
            <label for="olhos">Olhos</label>
            <input type="text" class="form-control" name="olhos">
          </div>
          <div class="row">
            <div class="col-md-1">
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">FOR</button>
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">DES</button>
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">CON</button>
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">INT</button>
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">SAB</button>
              <button type="button" style="margin-left: 20px; margin-bottom:5px;" class="btn btn-dark">CAR</button>
            </div>
          </div>


        </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
          </div>
          <fieldset class="form-group">
            <legend>Radio buttons</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
            <div class="form-check disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
              </label>
            </div>
          </fieldset>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
</div>
